body {
    background-color:black;
    margin: 0;
    color:white;
    min-height:100px;
    display:flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;

}
.container{
    background-color:solid rgb(255, 255, 255);
    padding:7rem;
    border-radius: 2rem;
    border: solid red;
    display:flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
}
.form{
    grid-template-columns: auto auto;
    row-gap: 1rem;
    column-gap: 3rem;
    justify-content: center;
    align-items: center;
}
.btn{
    color:green;
    display:flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}
.numbers12{
    width: 3rem;
}
.display-pass{
    background-color: white;
    color:black;
padding:1rem;
border:1px solid black;
height:2rem;
width:300px;
display:flex;
justify-content: center;
align-items: center;
cursor: pointer;
}