
@@ -0,0 +1,14 @@
.container{
    background-color: #f1f1f196;
    margin-top: 150px;
    padding: 20px;
    text-align: center;
}

.container_1{
    background-color: #db9d9d67;
    margin-top: 20px;
    padding: 20px;
    text-align: center;
}
